frontend/node_modules/
frontend/dist/
frontend/.env
backend/bin/
backend/obj/
backend/*.user
backend/*.suo
backend/*.vspscc
backend/*.vssscc
backend/*.pdb
backend/*.log
backend/*.vs
backend/appsettings.Development.json